*{

margin: 0%;
padding: 0%;
text-decoration: none;

}

body{

    text-align: center;

}

.scttchannel a button{

    cursor: pointer;
    transition: ease 0.10s;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    border: 1.9px solid white;
    background-color: rgb(13, 76, 97);

}

.scttchannel a button:hover{

    padding: 15px;
    font-size: 25px;

}