*{

margin: 0%;
padding: 0%;
text-decoration: none;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{

    background-color: whitesmoke;

}

/** header com o menu acima + interação **/

nav ul{

    list-style: none;
    padding: 0%;
    margin: 0%;
    background-color: rgb(0, 0, 0);
    display: flex;
    height: 80px;

}

nav ul li a{

    display: block;
    padding: 14px 20px;
    color: rgb(174, 174, 174);
    text-decoration: none;
    padding-top: 25px;

}


nav ul li{

    position: relative;
    margin: 0%;
    transition: 0.10s;

}

nav ul li a:hover{

    background-color:rgb(0, 0, 0);
    

}

nav li #ul2{

    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(0, 0, 0);
    min-width: 160px;
    flex-direction: column;

}

nav ul li #ul2 li a{

    padding: 12px 16px;

}

nav ul li:hover #ul2{

    display: flex;

}

nav ul li a:hover{

    font-size: 17.5px;

}

nav li a:hover{

    color: rgb(255, 255, 255);
    text-shadow: 
    0 0 1px #fff,
    0 0 2px #fff,
    0 0 002px #d8d8d8, /* Cor do neon */
    0 0 10px #5b5b5b,
    0 0 10px #5c5c5c;

}

nav li #ul2 a:hover{

    color: rgb(255, 133, 133);
    text-shadow: 
    0 0 1px rgb(255, 85, 85),
    0 0 2px rgb(255, 56, 56),
    0 0 002px #ffcaca, /* Cor do neon */
    0 0 10px #ff4040,
    0 0 10px #ff0000;

}

/** header 2 **/

#header2{

    width: 100%;
    height: 550px;
    background-repeat: no-repeat;
    background-image: url(../imgs/OnlyFNaFbackground.gif);
    background-size: 100%;
    background-position-y: -75px;

}


/** Main **/

main{

    height: 2000px;
    background-color: whitesmoke;

}

.sobr{
    
    width: 70%;
    height: 500px;
    background-color: rgb(0, 0, 0);
    border-radius: 30px;
    box-shadow: rgb(250, 250, 250) 0px 5px 1px;
    border: 5px solid whitesmoke;
    align-self: center;
    justify-self: center;
    text-align: center;    

}

.sobr .imgbutton a img {

    cursor: pointer;
    transition: ease 0.10s;
    padding: 20px;
    width: 15%;

}

.imgbutton a img:hover {

    width: 17%;

}


#infonaffast{

    margin-left: 100px;
    padding-right: 100px;

}

#dmsinfo a p{

    font-size: 15px;
    color: rgb(140, 89, 187);
    transition: ease 0.10s;

}

#dmsinfo a p:hover{

    color: purple;
    font-size: 16px;

}

.backgmeio{

    width: 100%;
    height: 500px;
    background-image: url(../imgs/fnafwllpp.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

/** youtubers **/

.iconsytbrs{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card{
    text-align: center;
  }
  
  .card img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
    transition: ease 0.10s;
  }
  
  .card p{
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 0.9px rgb(138, 38, 38);
  }

  .iconsytbrsgringos{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card1{
    text-align: center;
  }
  
  .card1 img{
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 5px;
    transition: ease 0.10s;
  }
  
  .card1 p{
    margin-top: 5px;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: 0.9px rgb(27, 0, 177);
    margin-bottom: 20px;
  }

  .card1 img:hover{

    width: 140px;
    height: 140px;

  }

  .card img:hover{

    width: 140px;
    height: 140px;

  }

  /** scott part **/

  #puppetmaster{

    background-color: black;
    height: 400px;
  }

  .scott img{

    float: left;
    width: 15%;
    margin-right: 50px;
    margin-left: 100px;
    scale: 1.1;
    border: 2px solid whitesmoke;
    border-radius: 3px;
    padding: 5px;

  }

  #puppetmaster p{

    margin-top: 10px;
    color: rgb(236, 236, 236);

  }

  #puppetmaster h3{

    font-size: 40px;
    margin-top: -20px;
    color: whitesmoke;
    -webkit-text-stroke: 1.5px rgb(0, 77, 177);

  }



#puppetmaster .scttchannel{

    width: 100%;
    height: 80px;
    text-align: center;
    align-content: center;
    justify-content: center;

}

.scttchannel a button{

    cursor: pointer;
    transition: ease 0.10s;
    padding: 10px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 100;
    color: white;
    border: 1.9px solid white;
    background-color: rgb(13, 76, 97);

}

.scttchannel a button:hover{

    padding: 15px;
    font-size: 25px;

}

#scottplus{

  background-color: black;
  color: white;
  height: 600px;

}

.plusinfo{

  padding-left: 100px;
  padding-right: 100px;
  
}

.gamescawthon{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.jogoscawthon{
  text-align: center;
  padding: 20px;
}

.jogoscawthon img{
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 5px;
  transition: ease 0.10s;
}

.jogoscawthon p{
  margin-top: 5px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke: 0.9px rgb(25, 37, 141);
}

.jogoscawthon img:hover{

  width: 140px;
  height: 140px;

}



#avisosite{

background-color: white;

}

.warning{

  padding-left: 200px;
  padding-right: 200px;

}

/** footer **/

  #footer{

    width: 100%;
    height: 200px;
    background-color: rgb(53, 15, 15);
    display: flex;
    justify-content: center;

  }

  #voltar {

    height: 70px;
    background-color: rgb(53, 15, 15);
    justify-content: center;
    align-content: center;
    text-align: center;

  }

  .list1, .list2{

    padding: 50px;

  }

  #footer ul li{

    list-style: none;
    text-decoration: none;
    text-align: center;

  }

  #footer a {

    cursor: pointer;

  }

  #footer p{

    color: rgb(255, 204, 145);

  }


  #footer a p:hover{

    color: rgb(255, 153, 0);
    -webkit-text-stroke: 0.5px rgb(255, 145, 0);
    font-size: 17px;

  }