*{

    margin: 0%;
    padding: 0%;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    
    body{
    
        background-image: url(../fnaf1/imgs/backgroundbody.jpg);
    
    }
    
    /** header com o menu acima + interação **/
    
    nav ul{
    
        list-style: none;
        padding: 0%;
        margin: 0%;
        background-color: rgb(0, 0, 0);
        display: flex;
        height: 80px;
        width: 80%;
        align-self: center;
        justify-self: center;
    
    }
    
    nav ul li a{
    
        display: block;
        padding: 14px 20px;
        color: rgb(174, 174, 174);
        text-decoration: none;
        padding-top: 25px;
    
    }
    
    
    nav ul li{
    
        position: relative;
        margin: 0%;
        transition: 0.10s;
    
    }
    
    nav ul li a:hover{
    
        background-color:rgb(0, 0, 0);
        
    
    }
    
    nav li #ul2{
    
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(0, 0, 0);
        min-width: 160px;
        flex-direction: column;
    
    }
    
    nav ul li #ul2 li a{
    
        padding: 12px 16px;
    
    }
    
    nav ul li:hover #ul2{
    
        display: flex;
    
    }
    
    nav ul li a:hover{
    
        font-size: 17.5px;
    
    }
    
    nav li a:hover{
    
        color: rgb(255, 255, 255);
        text-shadow: 
        0 0 1px #fff,
        0 0 2px #fff,
        0 0 002px #d8d8d8, /* Cor do neon */
        0 0 10px #5b5b5b,
        0 0 10px #5c5c5c;
    
    }
    
    nav li #ul2 a:hover{
    
        color: rgb(255, 133, 133);
        text-shadow: 
        0 0 1px rgb(255, 85, 85),
        0 0 2px rgb(255, 56, 56),
        0 0 002px #ffcaca, /* Cor do neon */
        0 0 10px #ff4040,
        0 0 10px #ff0000;
    
    }
    
    /** header 2 **/
    
    #header2{
    
        height: 380px;
        background-repeat: no-repeat;
        background-image: url(../fnaf1/imgs/fnaf1wllpprpage.png);
        background-size: 100%;
        background-position-y: -75px;
        width: 80%;
        align-self: center;
        justify-self: center;

    }

    /** main **/

    main{

        width: 80%;
        height: 5000px;
        background-color: black;
        align-self: center;
        justify-self: center;


    }


    .animatronics{
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.anims{
  text-align: center;
  padding: 30px;
}

.anims img{
  width: 150px;
  height: 250px;
  border-radius: 5px;
}

.anims p{
  margin-top: 5px;
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-text-stroke: 0.9px rgb(25, 37, 141);
}



#curiosities1 {

    background-color: #2e2e2e;
    height: 2000px;
    width: 100%;


}

.curiosity1, .curiosity2, .curiosity3{

    padding-left: 100px;
    padding-right: 100px;

}